.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;

    .cv-form {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 30px;

        label {
            margin-bottom: 10px;
        }

        p {
            font-size: $font-sm;
            color: #6e6d70;
            padding-left: 6px;
            letter-spacing: 1px;
        }

        textarea {
            min-width: 320px;
            min-height: 100px;
            border-radius: 3px;
            border: solid 1px #e2e2e2;
            padding: 6px;
            color: #6e6d70;
            font-size: $font-sm;
            letter-spacing: 1px;
            font-family: 'Source Sans Pro', sans-serif;
            margin-bottom: -5px;

            &:focus {
                box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(58, 108, 217, 0.5);
                outline: 0;
                cursor: pointer;
            }
        }

        input {
            align-self: center;
            min-width: 320px;
            border: solid 1px #e2e2e2;
            padding: 6px;
            border-radius: 3px;
            color: $color-neutral-600;
            font-size: $font-sm;
            letter-spacing: 1px;

            &:focus {
                box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(58, 108, 217, 0.5);
                outline: 0;
                cursor: pointer;
            }
        }

        .save-btn {
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 6px 14px;
              border-radius: 6px;
              border: none;
              margin-top: 10px;
            
              background: hsl(260, 1%, 38%);
              box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
              color: #DFDEDF;
              user-select: none;
              -webkit-user-select: none;
              touch-action: manipulation;

              &:hover {
                box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
                outline: 0;
                cursor: pointer;
              }
        }
    }

    .experience-info-form {
        margin-bottom: 0;
    }
}

.experience-list-container {
    display: flex;
    flex-direction: column;

    .experience {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .add-btn,
    .remove-btn {
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6px 14px;
        border-radius: 6px;
        border: none;
        // margin-top: 10px;
        min-width: 320px;
        max-width: 320px;
    
        background: hsl(260, 1%, 38%);
        box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
        color: #DFDEDF;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;

        &:hover {
        box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
        outline: 0;
        cursor: pointer;
        }
    }

    .add-btn {
        margin-top: 10px;
        background: none;
        color: #4e4e4e;
    }

    .remove-btn {
        background: hsl(242deg 29% 48%);
    }
}
